In [1]:
import pandas as pd

In [2]:
data_path = '../data/'
go_data_path = '../data/go_downloads/'

In [3]:
meta_df = pd.read_csv("../data/project_metadata_functional.csv")
meta_df.columns = meta_df.columns.str.lower()
meta_df.columns = meta_df.columns.str.replace(' ', '_')

In [4]:
meta_df.head(n=3)

,student,region,run_id,filename,sample_details,lat/long,depth_(m),temp_(c)_,chlorophyl_(mg_chl/m3),nitrate_(µmol/l),oxygen_(µmol/kg),salinity_(psu),downloaded,link_to_info
0,Busayo,Southern Ocean (near Antarctica),ERR599104,ERR599104_MERGED_FASTQ_GO.csv,deep chlorophyll maximum layer,"-62.2231 , -49.2139",90,-0.78154,0.540091,33.109231,325.402987,34.319478,Complete GO annotation,https://www.ebi.ac.uk/metagenomics/projects/ER...
1,Will,Southern Ocean (near Antarctica),ERR599090,ERR599090_MERGED_FASTQ_GO.csv,surface water layer,"-62.0385 , -49.5290",5,0.67108,0.065273,27.501159,343.437300,34.353880,Complete GO annotation,https://www.ebi.ac.uk/metagenomics/projects/ER...
2,Adriana,Southern Ocean (near Antarctica),ERR599008,ERR599008_MERGED_FASTQ_GO.csv,mesopelagic zone,"-61.9689 , -49.5017",790,0.45883,0.010087,38.821249,203.839400,34.679960,Complete GO annotation,https://www.ebi.ac.uk/metagenomics/projects/ER...

In [5]:
filenames = meta_df['filename']
names = ['id', 'name', 'namespace', 'read_count']
df = pd.read_csv(
    f"{go_data_path}{filenames[0]}", header=None,
    names=names)

In [6]:
df.head()

           id                         name           namespace  read_count
0  GO:0055114  oxidation-reduction process  biological_process      895806
1  GO:0008152            metabolic process  biological_process      612785
2  GO:0006810                    transport  biological_process      232694
3  GO:0009058         biosynthetic process  biological_process      190437
4  GO:0006412                  translation  biological_process      162214

In [7]:
df.iloc[:10]

,id,name,namespace,read_count
0,GO:0055114,oxidation-reduction process,biological_process,895806
1,GO:0008152,metabolic process,biological_process,612785
2,GO:0006810,transport,biological_process,232694
3,GO:0009058,biosynthetic process,biological_process,190437
4,GO:0006412,translation,biological_process,162214
5,GO:0006418,tRNA aminoacylation for protein translation,biological_process,139294
6,GO:0005975,carbohydrate metabolic process,biological_process,135825
7,GO:0006508,proteolysis,biological_process,120004
8,GO:0006355,"regulation of transcription, DNA-dependent",biological_process,93334
9,GO:0006260,DNA replication,biological_process,80185

In [9]:
filenames = meta_df['filename']
names = ['id', 'name', 'namespace', 'read_count']
df1 = pd.read_csv(
    f"{go_data_path}{filenames[1]}", header=None,
    names=names)

df1.iloc[:10]

,id,name,namespace,read_count
0,GO:0055114,oxidation-reduction process,biological_process,5448192
1,GO:0008152,metabolic process,biological_process,3587301
2,GO:0006810,transport,biological_process,1413506
3,GO:0009058,biosynthetic process,biological_process,1140419
4,GO:0006412,translation,biological_process,975687
5,GO:0006418,tRNA aminoacylation for protein translation,biological_process,837289
6,GO:0005975,carbohydrate metabolic process,biological_process,785616
7,GO:0006508,proteolysis,biological_process,680714
8,GO:0006355,"regulation of transcription, DNA-dependent",biological_process,531439
9,GO:0006260,DNA replication,biological_process,453892